.jumbotron {
  text-align: center;
}

.justify-box {
  display: flex;
  justify-content: center;
}

.column-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container2 {
  display: flex;
  justify-content: center;
}

#startOver {
  display: none;
}

.winner {
  display: flex;
  justify-content: center;
}

.gameBoard {
  display: none;
}